.field{padding-right:10px;}
.field_break{}
.BlockHeading{font-size:20pt;
				  display: inline-block;}
.Block{}
#char_id{visibility: hidden;}

input {
	border: 4px double #003366;
	}
	
#header-end{
	width: 99%;
	border-bottom-style: solid;
	}
	
.cast_spell:hover,[id*="dice"]:hover,[class*="dice"]:hover, #throw_wuerfel:hover,.waeve_thread:hover{
	 background-image: url(/assets/images/dice.png);
	 background-repeat: no-repeat;
    background-position: right top;
    cursor:pointer;
	}

#discipline_heading:hover, #skills_heading:hover , #spells_heading:hover, #armors_heading:hover, #race_name:hover{	 
	 cursor:pointer;
	}

.share_now,.put, #createChar, #throw_wuerfel, [id*="reload"],[class*="chosen"],.chars_row,.waeve_thread{
		background-color:#cccccc;		
		cursor:	pointer;
		padding:5px;
	}
	
.share_char:hover,.share_now:hover,.delete_char:hover,.put:hover,.nomatrix:hover,[class*="down"]:hover,[class*="up"]:hover,#createChar:hover, [id*="reload"]:hover,[class*="chosen"]:hover,.chars_row:hover,.unlearn_spell:hover, .remove_armor:hover{
		background-color:#C89900;
		cursor:	pointer;
	}

#createChar,[id*="reload"] {
	 display: inline-block;	
	}
	
 .share_now,.put, [id*="textfiel"], #throw_wuerfel, .inliners,.waeve_thread{
	display: inline-block;
	}
	
.vspacer{
	height: 20px;}
	
#roller{
	position: absolute;
	top:0;
	left:0;
	z-index: 100;
	background-color:#ffffff;
	border:solid;
	padding:5px;
	display: none;
	opacity:1;
	border:1px solid;	
	}
	
.inmatrix{
		background-color:#006944;
		
	}

.inmatrix:hover{
		cursor:	pointer;
	}

.discipline_abilities_inv{
	position: absolute;
	display: none;
	z-index: 100;
	
	}

.discipline_abilities_vis{
	position: absolute;
	display: inline;
	z-index: 100;
	background-color: #003366;
	opacity:0.9;
	color: #C89900;
	padding:5px;
	border:solid #ffffff;
	cursor:default;
	}

#BuyKarma_textfield,#SpentKarma_textfield,#AddLP_textfield{
	width: 40pt;	
	}
Table {
	margin:0px;padding:0px;
	border:1px solid #ffffff;
}

Table table{
    	border-collapse: collapse;
      border-spacing: 0;
		width:100%;
		height:100%;
		margin:0px;padding:0px;
}

Table td{
	vertical-align:middle;	
	background-color:#cccccc;
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	/*font-size:10px;
	font-family:Arial;
	font-weight:normal;*/
	color:#000000;
}
Table tr:last-child td{
	border-width:0px 1px 0px 0px;
}
Table tr td:last-child{
	border-width:0px 0px 1px 0px;
}
Table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
Table tr:first-child td{
		background:-o-linear-gradient(bottom, #003366 5%, #003f7f 100%);	
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #003366), color-stop(1, #003f7f) );
		background:-moz-linear-gradient( center top, #003366 5%, #003f7f 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#003366", endColorstr="#003f7f");	
		background: -o-linear-gradient(top,#003366,003f7f);
		background-color:#003366;
		border:0px solid #ffffff;
		text-align:center;
		border-width:0px 0px 1px 1px;
		font-size:14px;
		font-family:Arial;
		font-weight:bold;
		color:#ffffff;
}
Table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
Table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


