@( user:securesocial.core.BasicProfile)

@views.html.header(user)
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp?sensor=false&libraries=drawing,geometry"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp?sensor=false&libraries=drawing,geometry"></script>
<script src="http://atomkraftprotz.de/lEMON/jquery-ui.js"></script>
<script src="http://atomkraftprotz.de/lEMON/markerwithlabel.js"></script>
<script src="http://atomkraftprotz.de/lEMON/markerclusterer.js"></script>
<script src="http://atomkraftprotz.de/lEMON/lEMON.js"></script>
    <div id="map-canvas"></div>
@views.html.footer()

