@(spells: List[Map[String,Any]])
<table id="SpellsTable" border="0">
<tr>
<td>Name</td>
<td>Discipline</td>
<td>Circle</td>
<td>Learn</td>

</tr>
@spells.map{spell=> 
	<tr>
	<td class="table_field">@spell("spell_name")</td>
	<td class="table_field">@spell("discipline_name")</td>
	<td class="table_field">@spell("circle")</td>
		<td class="spell_chosen" id="@{
			"" + spell("id")
		}">
			<span id="@{
				"" + spell("id")
			}" title="choose" class="glyphicon glyphicon-check" aria-hidden="true"></span>
		</td>
	</tr>	    
}

</table>
